# Composer
/vendor/
composer.lock

# PHPUnit
/phpunit.xml
.phpunit.result.cache

# PHP CS Fixer
.php_cs.cache
.php-cs-fixer.cache

# PHPStan
phpstan.neon

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db
